@charset "UTF-8";

ranking{
	margin: auto;
	font-family: sans-serif;
 	background-image: url("background.jpg");
}

header{
	font-size: 40px;
	display: block;
	text-align: center;
	margin: auto;
}

header > author{
	margin-top: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
}

genres{
	display: none;
}

positions{
	display: block;
	background-color: #F43F3F;
	width: 80%;
	text-align: center;
	margin-top: 4%;
	margin-left: 10%;
	margin-right: 10%;
}

positions > position, name {
	display: block;
	font-size: 20px;
}

positions > position:hover{
	background-color: #F11111;
	cursor: pointer;
}

position > releaseDate{
	letter-spacing: 1px;
	word-spacing: 1px;
}

position > number{
	text-align: left;
	display: list-item;
	list-style: none;
	padding-left: 70px;
}

number::after{
	content:".";
}

position > age::before{
	content: "PEGI: ";
}

position > genreName::before{
	content: "genre: ";
}

position > rating::before{
	content: "rating on gry-online.pl: ";
}

position > releaseDate::before{
	content: "release date: "
}


position > releaseDate::before{
	content: "release date: "
}

poster[poster_id="witcher3blood"]::before{	
 	content: url("https://cdn.gracza.pl/galeria/gry13/grupy/176136921.jpg");
}
